# allow required package build scripts during install
node
onlyBuiltDependencies[]=esbuild

# avoid getting supply chain attacked by not pulling the latest version of dependencies
minimum-release-age=60
